{{ define "index.html" }}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>
  <meta charset="utf-8">
  <title>{{.title}}</title>
  <meta name="description" content="{{.message}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="https://termostore.it/skin/frontend/ultimo/default/favicon.ico" type="image/x-icon" />
  <script src="https://unpkg.com/react@latest/umd/react.production.min.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/react-dom@latest/umd/react-dom.production.min.js"></script>
  <script src="https://unpkg.com/@mui/material@latest/umd/material-ui.production.min.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/babel-standalone@latest/babel.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>
  <header class="top-bar">
    <img class="logo" src="https://termostore.it/skin/frontend/ultimo/default/images/layout_cem/logo_termostore.png" alt="Logo Termostore">
  </header>

  <div id="app"></div>
  
  <script src="assets/js/index.js" type="text/babel"></script>
</body>

</html>
{{ end }}