h1 {
  color: #f2f2f2;
}

.top-bar {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 2px solid #0575bc;
  -webkit-box-shadow: 0px 10px 30px -10px #0575bc; 
  box-shadow: 0px 10px 30px -10px #0575bc;
}

.top-bar .logo {
  height: 60px;
}